@import '../_variables';

#nouser {
  @include flex-center(column);
  height: 100vh;

  h1 {
    font-size: 2em;
    margin: 2em;
    font-family: $font-title;
    text-align: center;
    a {
      color: $logo;
    }
  }

  img {
    max-width: 600px;
    height: auto;
  }
}


// responsive styles
@media only screen and (max-width: 1024px) {
  #nouser {
    h1 {
      font-size: 1.2em;
      line-height: 1.5em;
    }
    img {
      max-width: 275px;
    }
  }
}
