@import '../_variables';

#nouser {
  @include flex-center(column);
  height: 100vh;

  h1 {
    font-size: 2em;
    margin-bottom: 2em;
    font-family: $font-title;
    a {
      color: $logo;
    }
  }

  img {
    max-width: 600px;
    height: auto;
  }
}
