@import '../_variables';

#portfolio {
  @include flex-center(column);

  h1 {
    @include title();
    text-align: center;
    span {
      color: $logo;
    }
  }

  h2 {
    @include title();
    text-align: center;
    margin-top: 2em;
    margin-bottom: 0.5em;
  }
  .portfoliobarchart {
    height: auto;
    width: 60%;
    margin: auto;
    margin-top: 2em;

  }
  .holdings {
    @include flex-center(row);
    .cards {
      flex: 1;
      @include flex-center(row);
      flex-wrap: wrap;
    }

    .donut {
      flex: 1;
      @include flex-center(row);

    }
  }

  .table, .referral, .holdings {
    height: auto;
    width: 70%;
    margin: auto;
  }

}

@media only screen and (max-width: 1024px) {
  #portfolio {

    .table {
      width: 60%;
    }
    .holdings {
      @include flex-center(column);
      .donut {
        width: 200px;
        height: 200px;
      }
    }
  }
}