@import '../_variables';

header {
  @include flex-center(row);
  width: 90%;
  margin: auto;

  button {
    @include flex-center(column);
    background-color: $logo;
    border: none;
    font-size: 2rem;
    height: 100%;
    color: $white;
    padding: 10px;
    border-radius: 8px;
    &:hover {
      background-color: $logodark;
    }
  }
}

.buttons {
  @include flex-center(row);
  .time-interval {
    background-color: $logo;
    color: $white;
    border-radius: 20px;
    border: none;
    padding: 5px 25px;
    margin: 1rem;
    &:hover {
      background-color: $logodark;
    }
  }
}


// responsive styles
@media only screen and (max-width: 1024px) {
  header {
    button {
      font-size: 1em;
      padding: 5px;

    }
  }
  .buttons {
    .time-interval {
      padding: 5px 10px;
      margin: 0.5rem;
      font-size: 0.9em;
    }
  }
}