@import '../_variables';

#watchlist {
  @include flex-center(column);

  .watchlist-title {
    @include title;
    span {
      color: $logo;
    }
  }

  .watchlist-container {
    @include flex-center(row);
    flex-wrap: wrap;
    width: 70%;
    height: auto;
    margin: 1.5em;
  }
}