// @import '../_variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1.5px;
}

#root {
  width: 100%;
}

.page {
  margin: 2em 0;
}

body {
  .container-fluid,
  .row,
  .col,
  .col-2,
  .col-10 {
    margin: 0;
    padding: 0;
  }
  
}
