@import '../_variables';

.card-link {
  text-decoration: none;
  color: $black;

  &:hover {
    color: $black;
  }
}

#cards {
  @include flex-center(row);
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin: 1.5em;

  h1,
  p {
    margin-bottom: 0;
  }

  .card-container {
    @include card(200px, 225px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
      cursor: pointer;
      transform: translate(-2px, -5px);
      transition: 0.4 ease-in;
    }

    .card-name {
      display: flex;
      justify-content: space-between;

      .text {
        h1 {
          font-size: 1.8em;
        }
        p {
          font-size: 1em;
        }
      }

      img {
        width: 30px;
        height: 30px;
        margin-left: 10px;
      }
    }

    .card-details {
      p {
        margin-top: 5px;
      }
      .label {
        font-size: 0.8rem;
        color: $grey;
      }

      .green {
        background-color: $successlight;
        padding: 2px 6px;
        border-radius: 8px;
      }
      .red {
        background-color: $dangerlight;
        padding: 2px 6px;
        border-radius: 8px;
      }
    }
  }
}


// responsive styles
@media only screen and (max-width: 1024px) {
  #cards {
    .card-container {
      @include card(160px, 200px);
      .card-name {
        .text {
          h1 {
            font-size: 1.5em;
          }
        }
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}