@import '../_variables';

#stock-header {
  @include title();
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 0 20px;

  h1 {
    margin-bottom: 0;
  }

  button {
    border: none;
    padding: 10px 18px;
    font-size: 1.2rem;
    margin-left: 1em;
    border-radius: 8px;
    color: $white;
    background-color: $logo;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      background-color: $logodark;
    }
  }
}
