@import '../_variables';

#stock-table {
  @include flex-center(column);
  margin-top: 2em;
  .title {
    @include title();
    text-align: center;
  }
  .info {
    width: 70%;
    margin-top: 1em;
    font-size: 1.3em;
    font-family: $font-main;
    tr {
      padding: 3em 0;
      &:nth-child(even){background-color: #f2f2f2;}
    }
    td {
      padding: 10px;
    }
  }
}


// responsive styles
@media only screen and (max-width: 1024px) {
  #stock-table {
    .info {
      font-size: 1em;
    }
  }
}