@import '../_variables';

.watchlist-card {
<<<<<<< HEAD
  @include card(100px, 275px);
=======
  @include card(150px, 275px);
>>>>>>> 89ced68bd5d162fefe8482ff9bea036f558bed4d
  @include flex-center(column);
  justify-content: space-between;
  height: 100%;
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;

    .link {
      @include title();
      text-decoration: none;
      color: $black;
      &:hover {
        color: $black;
      }
    }
    button {
      border-radius: 50%;
      padding: 5px;
      font-size: 1.5em;
      background-color: $danger;
    }
  }
  footer {
    display: flex;
    text-align: left;
    width: 100%;
    p {    
    margin-bottom: 0;
      span {
        font-size: 0.8rem;
        color: $grey;
      }
    }
  }
}