// V A R I A B L E S
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');
// font
$font-title: 'Merriweather Sans', sans-serif;
$font-main: 'Open Sans', sans-serif;

// colours
$black: #231c1a;
$white: #ffffff;
$grey: #8f8f8f;

$danger: #e44d3a;
$success: #16c172;

$logo: rgb(81, 167, 134);

$dangerlight: #ffb5b0;
$successlight: #a7ffc1;
$greylight: #e4e4e4;
$logolight: rgb(97, 190, 155);
$greylight: #e2e2e2;

$logodark: rgb(65, 138, 110);

// styles
$soft:  4px 2px 7px rgba(5, 2, 1, 0.10);


// MIXINS
//  flex center
@mixin flex-center($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin title {
  font-size: 2em;
  font-family: $font-title;
  color: $black;
  letter-spacing: 2px;
  margin-bottom: 0;
  @media only screen and (max-width: 1024px) {
    font-size: 1.5em;
  }
}

@mixin form-field {
  background-color: $greylight;
  padding: 8px 10px;
  border-radius: 8px;
}


@mixin card($min-height, $width) {
  border-radius: 20px;
  margin: 15px;
  padding: 15px;
  min-height: $min-height;
  width: $width;
  box-shadow: 3px 6px 30px rgba(22, 19, 24, 0.2);
}

