// V A R I A B L E S
// font
$font-title: 'Retrocycles';
$font-main: 'Open Sans', sans-serif;

// colours
$black: #231c1a;
$white: #ffffff;
$grey: #8f8f8f;

$danger: #e44d3a;
$success: #16c172;

$logo: rgb(81, 167, 134);

$dangerlight: #ffb5b0;
$successlight: #a7ffc1;
$greylight: #e4e4e4;
$logolight: rgb(177, 94, 255);
$greylight: #e2e2e2;

$logodark: rgb(94, 28, 156);

// MIXINS
//  flex center
@mixin flex-center($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin title {
  font-size: 2em;
  font-family: $font-main;
  color: $black;
  letter-spacing: 2px;
}

@mixin form-field {
  background-color: $greylight;
  padding: 8px 10px;
  border-radius: 8px;
}
